# Importing libraries

In [2]:
import os
import pandas as pd

# Loading dataset

In [52]:
file_path = r"..\Extracted_files\HHV1_PERV1_merged.dta"

In [53]:
df = pd.read_stata(file_path)

# Renaming value labels

In [55]:
#Renaming sector values
print(f" Unique values in sector are {df["pvar5"].unique()}")
df["pvar5"] = df["pvar5"].replace({"1": "rural", "2": "urban"})

 Unique values in sector are ['1' '2']

In [56]:
#Renaming gender
print(f" Unique values in gender are {df["pvar19"].unique()}")
df["pvar19"] = df["pvar19"].replace({"1": "male", "2": "female", "3": "transgender"})

 Unique values in gender are ['1' '2' '3']

In [57]:
#Renaming states
print(f" Unique values in states are {df["pvar6"].unique()}")

state_code = ["01","02","03","04","05","06","07","08","09","10","11","12","13","14","15","16","17","18","19","20","21","22","23","24","25","27","28","29","30","31","32","33","34","35","36","37"]

state_name = ["Jammu & Kashmir",	"Himachal Pradesh",	"Punjab",	"Chandigarh",	"Uttarakhand",	"Haryana",	"Delhi",	"Rajasthan",	"Uttar Pradesh",	"Bihar",	"Sikkim",	"Arunachal Pradesh",	"Nagaland",	"Manipur",	"Mizoram",	"Tripura",	"Meghalaya",	"Assam",	"West Bengal",	"Jharkhand",	"Odisha",	"Chhattisgarh",	"Madhya Pradesh",	"Gujarat",	"D & N. Haveli & Daman & Diu",	"Maharashtra",	"Andhra Pradesh",	"Karnataka",	"Goa",	"Lakshadweep",	"Kerala",	"Tamilnadu",	"Puduchery",	"Andaman & N. Island",	"Telangana",	"Ladakh"]

state_dict = dict(zip(state_code,state_name))

df["pvar6"] = df["pvar6"].replace(state_dict)

 Unique values in states are ['02' '21' '20' '01' '24' '03' '23' '33' '36' '08' '09' '19' '27' '16'
 '10' '22' '28' '32' '18' '14' '06' '15' '29' '11' '05' '37' '30' '34'
 '12' '17' '35' '13' '25' '07' '31' '04']

# Creating usual status code

In [58]:
df[["pvar32", "pvar43"]] = df[["pvar32", "pvar43"]].apply(pd.to_numeric)

In [62]:
df['usual_status_code'] = df.apply(lambda row: row["pvar43"] if ((row["pvar32"]>=81) & pd.notna(row["pvar43"])) else row["pvar32"], axis=1)
#df['usual_status_code'] = df['usual_status_code'].astype(str) #Won't allow exporting objects, so converting to string

C:\Users\Tarun\AppData\Local\Temp\ipykernel_34368\3086264331.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['usual_status_code'] = df.apply(lambda row: row["pvar43"] if ((row["pvar32"]>=81) & pd.notna(row["pvar43"])) else row["pvar32"], axis=1)

In [63]:
df.head()

,hhvar1,hhvar2,hhvar3,hhvar4,hhvar5,hhvar6,hhvar7,hhvar8,hhvar9,hhvar10,...,pvar134,pvar135,pvar136,pvar137,pvar138,pvar139,perid,_merge,weights,usual_status_code
0,FVH7,104,Q1,V1,1,02,04,021,01,14,...,0,0,2,4,246798,4,Q1V1110002110101,both,308,94.0
1,FVH7,104,Q1,V1,1,02,04,021,01,14,...,0,0,2,4,246798,4,Q1V1110002110102,both,308,93.0
2,FVH7,104,Q1,V1,1,02,04,021,01,14,...,0,6500,2,4,246798,4,Q1V1110002110103,both,308,11.0
3,FVH7,104,Q1,V1,1,02,04,021,01,14,...,0,0,2,4,246798,4,Q1V1110002110104,both,308,21.0
4,FVH7,104,Q1,V1,1,02,04,021,01,14,...,0,0,2,4,246798,4,Q1V1110002110105,both,308,91.0

# Saving the file

In [65]:
df.to_stata(r"..\Extracted_files\HHV1_PERV1_merged.dta", write_index=False)