# Importing libraries

In [7]:
import pandas as pd
import numpy as np
import os

In [8]:
pd.set_option('display.max_columns', None)

# Loading datafile

## Extraction

In [9]:
file_path_1 =  r"..\\Extracted_files\\HHV1_PERV1_merged.dta"

In [10]:
os.getcwd()

'g:\\Shared drives\\Just Transition\\Management\\Datasets\\PLFS 2023-24\\Code files_2023-24'

In [11]:
original_df = pd.read_stata(file_path_1)
df = original_df.copy()

In [12]:
df.head()

,hhvar1,hhvar2,hhvar3,hhvar4,hhvar5,hhvar6,hhvar7,hhvar8,hhvar9,hhvar10,hhvar11,hhvar12,hhvar13,hhvar14,hhvar15,hhvar16,hhvar17,hhvar18,hhvar19,hhvar20,hhvar21,hhvar22,hhvar23,hhvar24,hhvar25,hhvar26,hhvar27,hhvar28,hhvar29,hhvar30,hhvar31,hhvar32,hhvar33,hhvar34,hhvar35,hhvar36,hhvar37,hhid,pvar1,pvar2,pvar3,pvar4,pvar5,pvar6,pvar7,pvar8,pvar9,pvar10,pvar11,pvar12,pvar13,pvar14,pvar15,pvar16,pvar17,pvar18,pvar19,pvar20,pvar21,pvar22,pvar23,pvar24,pvar25,pvar26,pvar27,pvar28,pvar29,pvar30,pvar31,pvar32,pvar33,pvar34,pvar35,pvar36,pvar37,pvar38,pvar39,pvar40,pvar41,pvar42,pvar43,pvar44,pvar45,pvar46,pvar47,pvar48,pvar49,pvar50,pvar51,pvar52,pvar53,pvar54,pvar55,pvar56,pvar57,pvar58,pvar59,pvar60,pvar61,pvar62,pvar63,pvar64,pvar65,pvar66,pvar67,pvar68,pvar69,pvar70,pvar71,pvar72,pvar73,pvar74,pvar75,pvar76,pvar77,pvar78,pvar79,pvar80,pvar81,pvar82,pvar83,pvar84,pvar85,pvar86,pvar87,pvar88,pvar89,pvar90,pvar91,pvar92,pvar93,pvar94,pvar95,pvar96,pvar97,pvar98,pvar99,pvar100,pvar101,pvar102,pvar103,pvar104,pvar105,pvar106,pvar107,pvar108,pvar109,pvar110,pvar111,pvar112,pvar113,pvar114,pvar115,pvar116,pvar117,pvar118,pvar119,pvar120,pvar121,pvar122,pvar123,pvar124,pvar125,pvar126,pvar127,pvar128,pvar129,pvar130,pvar131,pvar132,pvar133,pvar134,pvar135,pvar136,pvar137,pvar138,pvar139,perid,_merge,weights,usual_status_code
0,FVH7,104,Q1,V1,1,02,04,021,01,14,1,0213,10002,1,1,01,08,2,1,,7,1,1,2,5250,2000,650,10000,0,8733,03,11082023,70,2,4,246798,4,Q1V11100021101,FVP7,104,Q1,V1,rural,Himachal Pradesh,04,021,01,14,1,0213,10002,1,1,01,01,1,male,72,2,08,01,10,,,,,,,,94,,,2,,,,,,,,NaN,,,,,,,,,,,,,,,1,05,3,94,,0,0,,,0,0,0,0,94,,0,0,,,0,0,0,0,94,,0,0,,,0,0,0,0,94,,0,0,,,0,0,0,0,94,,0,0,,,0,0,0,0,94,,0,0,,,0,0,0,0,94,,0,0,,,0,0,0,0,94,,,0,0,2,4,246798,4,Q1V1110002110101,both,308,94.0
1,FVH7,104,Q1,V1,1,02,04,021,01,14,1,0213,10002,1,1,01,08,2,1,,7,1,1,2,5250,2000,650,10000,0,8733,03,11082023,70,2,4,246798,4,Q1V11100021101,FVP7,104,Q1,V1,rural,Himachal Pradesh,04,021,01,14,1,0213,10002,1,1,01,02,2,female,65,2,06,01,6,,,,,,,,93,,,2,,,,,,,,NaN,,,,,,,,,,,,,,,1,08,3,93,,0,0,,,0,0,0,0,93,,0,0,,,0,0,0,0,93,,0,0,,,0,0,0,0,93,,0,0,,,0,0,0,0,93,,0,0,,,0,0,0,0,93,,0,0,,,0,0,0,0,93,,0,0,,,0,0,0,0,93,,,0,0,2,4,246798,4,Q1V1110002110102,both,308,93.0
2,FVH7,104,Q1,V1,1,02,04,021,01,14,1,0213,10002,1,1,01,08,2,1,,7,1,1,2,5250,2000,650,10000,0,8733,03,11082023,70,2,4,246798,4,Q1V11100021101,FVP7,104,Q1,V1,rural,Himachal Pradesh,04,021,01,14,1,0213,10002,1,1,01,03,3,male,40,2,08,01,10,,2,,,,,,11,01132,611,2,,01,1,,,,3,NaN,,,,,,,,,,1,5,,,,,,,11,01,4,0,,,0,0,4,0,11,01,5,0,,,0,0,5,3,11,01,4,0,,,0,0,4,3,11,01,5,0,,,0,0,5,2,11,01,6,0,,,0,0,6,0,11,01,5,0,,,0,0,5,2,11,01,6,0,,,0,0,6,0,11,01,611,0,6500,2,4,246798,4,Q1V1110002110103,both,308,11.0
3,FVH7,104,Q1,V1,1,02,04,021,01,14,1,0213,10002,1,1,01,08,2,1,,7,1,1,2,5250,2000,650,10000,0,8733,03,11082023,70,2,4,246798,4,Q1V11100021101,FVP7,104,Q1,V1,rural,Himachal Pradesh,04,021,01,14,1,0213,10002,1,1,01,04,4,female,35,2,08,01,10,,2,,,,,,21,01132,611,2,,01,1,,,,3,NaN,,,,,,,,,,1,5,,,,,,,21,01,4,0,,,0,0,4,3,21,01,5,0,,,0,0,5,3,21,01,6,0,,,0,0,6,2,21,01,4,0,,,0,0,4,4,21,01,5,0,,,0,0,5,0,21,01,4,0,,,0,0,4,3,21,01,5,0,,,0,0,5,3,21,01,611,0,0,2,4,246798,4,Q1V1110002110104,both,308,21.0
4,FVH7,104,Q1,V1,1,02,04,021,01,14,1,0213,10002,1,1,01,08,2,1,,7,1,1,2,5250,2000,650,10000,0,8733,03,11082023,70,2,4,246798,4,Q1V11100021101,FVP7,104,Q1,V1,rural,Himachal Pradesh,04,021,01,14,1,0213,10002,1,1,01,05,6,male,15,1,07,01,9,26,6,,,,,,91,,,2,,,,,,,,NaN,,,,,,,,,,,,,,,2,,4,91,,0,0,,,0,0,0,0,91,,0,0,,,0,0,0,0,91,,0,0,,,0,0,0,0,91,,0,0,,,0,0,0,0,91,,0,0,,,0,0,0,0,91,,0,0,,,0,0,0,0,91,,0,0,,,0,0,0,0,91,,,0,0,2,4,246798,4,Q1V1110002110105,both,308,91.0

## Changing dataformats

In [13]:
# Converting age, status code (principal), status code (subsidiary), and status code (usual) to numeric
df[["pvar20","pvar32", "pvar43", "usual_status_code", 'pvar134']] = df[["pvar20","pvar32", "pvar43", "usual_status_code", 'pvar134']].apply(pd.to_numeric)

# Analysis

In [36]:
# Employment in coal power plants (NIC = 35102)

# Assigning NIC code based on usual status
df["usual_status_ind"] = np.where((df['pvar32'] >=81) & (df['pvar43'].notna()),   # Condition for subsidiary code to be not NA and principal to be more than or equal to 81
                                    df['pvar44'],
                                    df['pvar33'])

# Total number of workers in coal plants
df.loc[df['usual_status_ind'] == '35102', 'weights'].sum()

np.int64(232140)

# Creating new columns

## Usual status industry

In [ ]:
#Creating a new column with 2 digit NIC codes based on usual status

#Assigning NIC code based on usual status
df["usual_status_ind"] = np.where((df['pvar32'] >=81) & (df['pvar43'].notna()),   # Condition for subsidiary code to be not NA and principal to be more than or equal to 81
                                    df['pvar44'],
                                    df['pvar33'])

#Keeping only the first two NIC digits
df["usual_status_ind"] = df["usual_status_ind"].astype(str).str[:2]
df["usual_status_ind"] = df["usual_status_ind"].apply(pd.to_numeric)

## Usual status NCO

In [23]:
#Creating a new column with 1 digit NCO codes based on usual status

#Assigning NCO code based on usual status
df["usual_status_nco"] = np.where((df['pvar32'] >=81) & (df['pvar43'].notna()),   # Condition for subsidiary code to be not NA and principal to be more than or equal to 81
                                    df['pvar45'],
                                    df['pvar34'])

#Keeping only the first digit
df["usual_status_nco"] = df["usual_status_nco"].astype(str).str[:1]
df["usual_status_nco"] = df["usual_status_nco"].apply(pd.to_numeric)

## Ususal status contract

In [24]:
#Creating a new column with codes for contract type

#Assigning contract type based on usual status
df["usual_status_contract"] = np.where((df['pvar32'] >=81) & (df['pvar43'].notna()),   # Condition for subsidiary code to be not NA and principal to be more than or equal to 81
                                    df['pvar49'],
                                    df['pvar39'])

## Usual status social security

In [25]:
#Creating a new column with codes for social security

#Assigning social security based on usual status
df["usual_status_social_security"] = np.where((df['pvar32'] >=81) & (df['pvar43'].notna()),   # Condition for subsidiary code to be not NA and principal to be more than or equal to 81
                                    df['pvar51'],
                                    df['pvar41'])

## Usual status location of workplace

In [26]:
df["usual_status_workplace"] = np.where((df['pvar32'] >=81) & (df['pvar43'].notna()),   # Condition for subsidiary code to be not NA and principal to be more than or equal to 81
                                    df['pvar46'],
                                    df['pvar36'])

## Usual status informal

In [29]:
df['usual_status_informal'] = np.where((df['usual_status_contract'] == '1') | (df['usual_status_social_security'] == '8') | (df['usual_status_code'].isin([11,12,21])), 1, 0)

# Analysis

## Share informal employment

In [30]:
trial = df.groupby('usual_status_informal', dropna=False).apply(lambda table: pd.Series({
    'sample_size': table['weights'].shape[0],
    'population_size': table['weights'].sum()
}), include_groups = False)
trial

                       sample_size  population_size
usual_status_informal
0                           253813        720025657
1                           164346        484298932

## Share blue collar workers

In [31]:
informal_mask = df['usual_status_informal'] == 1
blue_collar_mask = df['usual_status_nco'].isin(range(5,9+1))
non_agri_blue_collar_mask = df['usual_status_nco'].isin([5,7,8,9])

In [31]:
# Total informal workers
pd.Series({'sample size': df.loc[informal_mask,:].shape[0],
           'population size': df.loc[informal_mask,'weights'].sum()}).to_frame()

                         0
sample size         164346
population size  484298932

In [33]:
# Total blue collar workers
pd.Series({'sample size': df.loc[blue_collar_mask,:].shape[0],
           'population size': df.loc[blue_collar_mask,'weights'].sum()}).to_frame()

                         0
sample size         154710
population size  458468982

In [34]:
# Total informal, blue collar workers
pd.Series({'sample size': df.loc[blue_collar_mask & informal_mask,:].shape[0],
           'population size': df.loc[blue_collar_mask & informal_mask,'weights'].sum()}).to_frame()

                         0
sample size         148057
population size  443868039

In [35]:
# Total non-agri,informal, blue collar workers
pd.Series({'sample size': df.loc[non_agri_blue_collar_mask & informal_mask,:].shape[0],
           'population size': df.loc[non_agri_blue_collar_mask & informal_mask,'weights'].sum()}).to_frame()

                         0
sample size          87063
population size  244522319